@{
    ViewBag.Title = "CreatePost";
}

@model PhoneBookService.Models.PostDataPhoneBook

    <body class="bg-light">
        <div class="container">
            <div class="py-5 text-center">
            </div>

            <div class="row">
                <div class="col-md-4 order-md-2 mb-4">

                </div>
                <div class="col-md-8 order-md-1">
                    <h4 class="mb-3">Create Post</h4>
                    @using (Html.BeginForm("Create", "Post", FormMethod.Post))
                    {

                        <div class="row">
                            <div class="col-md-6 mb-3">
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="Zza02">CarouselTitle</label>
                            @Html.TextBoxFor(model => model.Zza02, new { @class = "form-control" })
                        </div>
                        <div class="mb-3">
                            <label for="Zza03">CarouselLink</label>
                            @Html.TextBoxFor(model => model.Zza03, new { @class = "form-control" })
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    }
                </div>
            </div>
        </div>
    </body>