
@{
    ViewBag.Title = "CreatePost";
}

@model AupaWeb.Models.PostDataObject
@Styles.Render("~/Content/Site.css")
<body class="bg-light">
    <div class="container">
        <div class="py-5 text-center">
        </div>

        <div class="row">
            <div class="col-md-4 order-md-2 mb-4">

            </div>
            <div class="col-md-8 order-md-1">
                <h4 class="mb-3">Create Post</h4>
                @using (Html.BeginForm("Create", "Post", FormMethod.Post))
                {
                    <div class="row">
                        <div class="col-md-6 mb-3">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="Aaa06">Title</label>
                        @Html.TextBoxFor(model => model.Aaa06, new { @class = "form-control" })
                    </div>
                    <div class="mb-3">
                        <label for="Aaa07">Post Content</label>
                        @Html.TextAreaFor(model => model.Aaa07, 10, 100, new { @class = "form-control" })
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-primary" onclick="history.go(-1)">Cancel</button>
                }
            </div>
        </div>
    </div>
</body>