<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">Well done!</h4>
        <p>Aww yeah, you successfully read this important alert message. </p>
        <p>This text is going to let you know something went wrong when you were trying to sing-in or doing something unexptected.</p>
        <p>You can try hitting last page, or using backspace to go back.</p>
        <hr>
        <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
    </div>
</body>
</html>
